.hotel-form {
	margin: 0 auto;
	align-items: center;
	display: flex;
	flex-direction: row;
	width: 1100px;
	gap: 30px;
	margin-bottom: 200px;
}

.form-content {
	display: flex;
	flex-direction: column;
}

.hotel-form .label-destination {
	text-align: left;
}

.form-row-container {
	display: flex;
	flex-direction: row;
	gap: 30px;
	margin-bottom: 10px;
}

.form-col-container {
	display: flex;
	flex-direction: column;
	width: 380px;
	text-align: left;
}

.hotel-form input,
.hotel-form select,
.hotel-form .input-rooms-guests {
	width: 100%;
	height: 45px;
	border: none;
	background-color: #f4f4f4;
	margin-bottom: 12px;
	padding: 0 15px;
	outline: none;
	font-size: 16px;
	color: #3d3935;
}

.hotel-form input:nth-child(1) {
	background: transparent;
}

.hotel-form label {
	font-size: 14px;
	letter-spacing: 2px;
	font-weight: 500;
	color: #3d3935;
	margin-bottom: 5px;
	text-transform: uppercase;
}

.hotel-form .form-col-search {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
	text-align: center;
	margin: 0 auto;
	padding: 0 auto;
	height: 250px;
}

.hotel-form .form-col-search .error-massage {
	color: red;
	text-align: center;
}

.hotel-form #search {
	background-color: #50a4ff;
	color: #fff;
	cursor: pointer;
	border: none;
	outline: none;
	width: 100%;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 600;
	margin-top: 23px;
}

.hotel-form #search:hover {
	background-color: #0073f0;
}

.hotel-form .calendar-icon {
	position: absolute;
	float: right;
	margin-top: 15px;
	margin-right: 20px;
}

.hotel-form .input-date {
	width: 100%;
	height: 45px;
	border: none;
	background-color: #f4f4f4;
	display: flex;
	justify-content: flex-end;
}

.hotel-form .input-rooms-guests {
	margin-bottom: 0px;
	cursor: pointer;
}

.room-guest ul {
	display: inline;
	position: absolute;
	top: 1205px;
	width: inherit;
	border: 1px solid;
	padding: 0 10px;
	box-shadow: 0px 0px 5px 2px #ccc;
}

.room-guest ul li {
	display: flex;
	justify-content: space-between;
}

.room-guest ul li .room-container,
.room-guest ul li .guest-container {
	display: flex;
}

.room-guest ul li p {
	font-size: 16px;
	margin: auto 0;
	text-transform: capitalize;
}

.room-guest ul li .button-room-guest {
	cursor: pointer;
	font-size: 26px;
	margin: auto 0;
}

.room-guest ul li input {
	width: 70px;
	margin-bottom: 0;
}

.room-guest ul li input {
	text-align: center;
}

.input-rooms-guests {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.input-rooms-guests p {
	margin: auto 0;
}

.input-rooms-guests .dropdown-icon {
	font-size: 22px;
	margin: auto 0;
}

.input-rate {
	appearance: none;
	cursor: pointer;
}

.input-rate option {
	background-color: #f4f4f4;
	box-shadow: 0px 0px 5px 2px #ccc;
	font-size: 16px;
	cursor: pointer;
}

.hide-spin-button::-webkit-inner-spin-button,
.hide-spin-button::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
