.Navbar {
	background-color: #fff;
}

.navbar-content {
	max-width: 1280px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	height: 70px;
	text-decoration: none;
}

.navbar-content h2 {
	cursor: pointer;
	margin: auto 0;
	color: #282828;
}

ul {
	display: flex;
	list-style-type: none;
	text-decoration: none;
	text-transform: uppercase;
	gap: 35px;
}

ul li {
	margin: auto 0;
}

ul li a {
	text-decoration: none;
	color: #282828;
}

.button-container {
	display: flex;
	height: 40px;
	margin: auto 0;
	gap: 15px;
}

.navbar-content .button-container button {
	border: none;
	border-radius: 30px;
	padding: 10px 20px;
	cursor: pointer;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 500;
}

#button-sign-in {
	color: #fff;
	width: 110px;
	background-color: #282828;
	padding-top: 10px;
}

#button-sign-up {
	color: #282828;
	width: 110px;
	border: solid 2px #282828;
	background-color: transparent;
	padding-top: 8px;
}
